@import '_variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    letter-spacing: 0.15rem;
    line-height: 1.5;
    scroll-behavior: smooth;
    border: none;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Yaldevi:wght@200&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Revalia', cursive;
}

p,a {
    font-family: 'Yaldevi', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: $base-l-color;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $base-d-color; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
